<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/" th:replace = "base::Layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"
    ></script>


    <title>Sign in & Sign up Form</title>
</head>
<body>
<section>
    <div th:if = "${session.message}" th:classappend = "${session.message.type}"class="alert alert-primary" role="alert">
        <p th:text = "${session.message.contain}"></p>

        <th:block th:text = "${#session.removeAttribute('message')}" ></th:block>
    </div>

    <form th:action = "@{/send-otp}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required="required" type="email" name = "email" class="form-control"  placeholder="Enter email"/>
              </div>


        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>



</section>
</body>
</html>
